body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #0078D7;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 50px;
    font-weight: 600;
    color: #f4f4f4;
}
button{
    background-color: black;
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.dimension{
    color: white;
    font-size: 18px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    width:300px;
}
input{
    width: 200 px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.first{
    width:150px;
    height: 150px;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #0078D7;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
label{
    color: black;
}