body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #0078D7;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 50px;
    font-weight: 600;
    color: #f4f4f4;
}
li {
    list-style: none;
    display: inline-block;

}
li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}
button{
    background-color: black;
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0078D7;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.zoom-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.zoom-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
